h2 {
    text-align: center;
}

form {
    margin-bottom: 15%;
}

.changeFormButtons {
    text-align: center;
}

/* make all check marks green */
.fa-check {
    color: rgb(39, 173, 39);
}

/* make all times symbols red */
.fa-times {
    color: red
}

.formContainer {
    width: 30%;
    margin: 0 auto;
    margin-top: 5%;
}

.formToggleText {
    text-align: center;
}

.passwordRequirementsContainer {
    position: absolute;
    background-color: rgb(232, 240, 254);
    border-radius: 10px;
    padding: 3%;
    top: 18%;
    right: -80%;
    opacity: 0;
}

.signUpFormContainer {
    display: none;
    position: relative;
}